{% include 'layout.html' %}

<div class="container pt-3 pb-3">
    <div class="card text-dark mb-3 mt-3 mx-auto border-0" style="max-width: 50rem; background-color: #2f2f2f;">
        <div class="card-body text-white">
            <form method="POST">
                <div class="form-group mb-3 mt-3">
                    <label class="mb-3">Share your thoughts</label>
                    <textarea name="post_body" class="form-control" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-outline-light mt-3">Post</button>
            </form>
        </div>
    </div>
</div>