{% include 'layout.html' %}

<div class="container pt-3 pb-3">
    <div class="card text-dark mb-3 mt-3 mx-auto border-0" style="max-width: 50rem; background-color: #2f2f2f;">
        <div class="card-body text-white">

            {% if msg %}
            {% if msg == 'Wrong password' %}
            <div class="alert alert-danger mx-auto text-center" role="alert" style="max-width: 25rem;">
                {{msg}}
            </div>
            {% else %}
            <div class="alert alert-success mx-auto text-center" role="alert" style="max-width: 25rem;">
                {{msg}}
            </div>
            {% endif %}
            {% endif %}

            <form method="POST" action="/auth/edit-password">
                <div class="form-group mb-3 mt-3 mx-auto">
                    <label class="mb-2">Old Password</label>
                    <input type="password" class="form-control" name="password" required>
                </div>
                <div class="form-group mb-3 mt-3 mx-auto">
                    <label class="mb-2">New Password</label>
                    <input type="password" class="form-control" name="password2" required>
                </div>
                <button type="submit" class="btn btn-outline-light mt-3">Set Password</button>
            </form>
        </div>
    </div>
</div>