{% include 'layout.html' %}

<div class="container pt-3 pb-3">
    <div class="card text-dark mb-3 mt-3 mx-auto border-0" style="max-width: 50rem; background-color: #2f2f2f;">
        <div class="card-body text-white">
            <div class="text-center">
                <img src="https://img.icons8.com/fluency/96/000000/quest.png" />
                </br></br>
                We're sorry, we couldn't find the page you requested </br></br>
                Click on the button below to go back to Home </br></br>
                <button onclick="window.location.href='/'" type="button"
                    class="btn btn-outline-light mt-3">Home</button>
            </div>
        </div>
    </div>
</div>