{% include 'layout.html' %}

<div class="container pt-3 pb-3">
    <div class="card mb-3 mt-3 mx-auto border-0 text-white"
        style="max-width: 50rem; height: 35rem; background-color: #525252;">
        <div class="card-body">
            <div class="row">
                <img src="https://img.icons8.com/color/96/000000/user.png" style="max-width: 10rem;" class="mx-auto" />
                <span class="card-text text-center" style="font-size: 1.5rem;">
                    @{{ user_profile.username }}
                </span>
                <span class="card-text text-center" style="font-size: 1.2rem;">
                    {{ user_profile.first_name }} {{ user_profile.last_name }}
                </span>
            </div>
            <div class="row mt-4 mb-4 text-center">
                {% if user.id == user_profile.id %}
                <form method="POST" action="#">
                    <button type="submit" class="btn btn-outline-light" href="#">Edit</button>
                </form>
                {% elif user_follows_flag == True %}
                <form method="POST" action="/users/unfollow/{{user_profile.username}}">
                    <button type="submit" class="btn btn-outline-light" href="#">Unfollow</button>
                </form>
                {% elif user_follows_flag == False %}
                <form method="POST" action="/users/follow/{{user_profile.username}}">
                    <button type="submit" class="btn btn-outline-light" href="#">Follow</button>
                </form>
                {% endif %}
            </div>
            <div class="row text-center">
                <span class="card-text" style="font-size: 1.2rem;">
                    <p>{{ user_profile.bio }}</p>
                    <p>{{ user_profile.email }}</p>
                    <p><b>{{ user_follower_count }}</b> followers</p>
                    <p><b>{{ user_follows_count}}</b> following</p>
                </span>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>