{% include 'layout.html' %}

<div class="container pt-3 pb-3">
    <div class="card text-dark mb-3 mt-3 mx-auto border-0" style="max-width: 50rem; background-color: #2f2f2f;">
        <div class="card-body text-white">
            <form method="POST" action="/search">
                <div class="row">
                    <div class="d-flex align-items-center">
                        <div class="col-8">
                            <input type="search" name="search" class="form-control rounded"
                                placeholder="Search for users" required />
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-outline-light mx-3" href="">Search</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% if search_result %}
    {% for user_info in search_result %}
    <div class="card text-dark mb-3 mt-3 mx-auto border-0" style="max-width: 50rem; background-color: #525252">
        <div class="card-body text-white">
            <a href="/users/{{user_info.username}}" style="color:#ffffff; text-decoration:none" class="card-text">
                {{ user_info.first_name }} {{ user_info.last_name }} @{{ user_info.username }}
            </a>
            <p class="card-text mt-3">
                {{ user_info.bio }}
            </p>
        </div>
    </div>
    {% endfor %}{% endif %}
</div>